.main,
.cover {
    -webkit-flex: 1;
    flex: 1;
}

.cover img {
    width: 100%;
    height: 100%;
}

.cover img {
    border-radius: 5px;
}

h1,
h2,
h3 {
    text-align: left;
}

.meta {
    position: relative;
    top: -15px;
}

.title {
    cursor: pointer;
}
