.main button {
    text-transform: uppercase;
    background-color: #cbcbcb;
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    float: left;
    outline: none;
    border: 0;
    border-color: #838383;
    border-width: 1px;
    border-style: solid;
}

.active {
    background-color: #838383!important;
    color: white!important;
}

.main button:first-of-type {
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.main button:last-of-type {
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
