.playbar {
    width: 100%;
    height: 50px;
}

.playbar-container {
    position: relative;
}
.playbar-shadow {
    border-radius: 20px;
    background: rgba(200,200,200,0.8);
    height: 70px;
    position: absolute;
    top: -2px;
    margin: 10px 10px;
    overflow: hide;
    transition: all 0.2s;
}
.playbar-shadow.hide {
    transform: translate(0%, -5000%)
}
.playbar-shadow h2 {
    padding: 5px 25px;
}
.playbar .play-toggle {
    float: left;
    width: 50px;
    height: 100%;
    background: url("svg/play.svg");
}

.playbar .current_time {
    float: left;
    width: 40px;
    text-align: center;
    line-height: 50px;
    height: 100%;
}

.playbar .scrobble-bar {
    height: 3px;
    float: left;
    margin-top: 23px;
    margin-left: 5px;
    width: calc( 100% - 50px - 50px - 50px - 10px);
    background-color: lightgrey;
}

.playbar .scrobble-bar div {
    width: 10px;
    top: -4px;
    position: relative;
    border-radius: 100%;
    background-color: #868686;
    height: 10px;
}

.playbar .scrobble-bar p {
    line-height: 0px;
    /* hack to make it sit higher -- its 2:12 am ill fix this up later */
}

.playbar .total_length {
    float: right;
    line-height: 50px;
    padding-right: 20px;
    height: 100%;
}
